# Supabase (obrigatório)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Instagram Graph API / Meta App
INSTAGRAM_APP_ID=2299919133869332
INSTAGRAM_APP_SECRET=e873c9159b4d7049cf150a6aef51dbf6

# Metricool
METRICOOL_API_KEY=

# URL pública do app
NEXT_PUBLIC_SITE_URL=http://localhost:3000
